<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DBLP</title>

  <!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:5px; }

    form_main {
    width: 100%;
}
.form_main h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
}
.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt2[type="submit"] {
    background: #242424 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}

</style>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            NoSQL Application with NodeJS & MongoDB
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
        </ul>
    </div>

</div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-4">
    <div class="form_main">
                <h4 class="heading"><strong>DBLP </strong> Search <span></span></h4>
                <div class="form">
                	<form action="/" method="POST">
                    <input type="text"  placeholder="Please input the title" value="" name="title" class="txt">
                    <input type="text"  placeholder="Please input the author" value="" name="author" class="txt">
                    <br>
                    <input type="number"  placeholder="Please input the year" value="" name="year" class="txt">
                    <br>
                    <br>
                    <select id="type" name="type">
                      <option value="Article">Article</option>
                      <option value="Book">Book</option>
                      <option value="Phd">Phd</option>
                    </select>
                    
                    <br>
                    <input type="submit" value="submit" name="submit" class="txt2">
                </form>
            </div>
            </div>
            </div>
  </div>
</div>
  Results :
  <br>
  <br>

  <ul class="publis2">
  <% for(var i=0; i<publis2.length; i++) {%>
    <li class="list-group-item">
     <strong>  <span><%= publis2[i].type %></span> </strong>
      <span>:</span>
      <span><%= publis2[i].title %></span>
      </br>
      <span> <strong> URL : </strong> <a href="<%= publis2[i].url %>"><%= publis2[i].url %></a>  </span>
      </br>
      <span> <strong> Author : </strong> <%= publis2[i].authors %></a>  </span>
      </br>
      <span> <strong> Year : </strong> <%= publis2[i].year %></a>  </span>
    </li>
  <% } %>
  </ul>
</body>
</html>
